body{
    font-family: Roboto ;
}

/* HEADER */
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

a{
    text-decoration: none;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.hero{
    display: flex;
    justify-content: center;
    padding-top: 124px;
}

button{
    color:#F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

.hero-main{
 font-size: 48px;
 font-weight: 800;
 color: #F9FAF8;
 padding: 0;
 margin:0;
}

.image{
    width: 450px;
}
.text{
    color: #E5E7EB;
    font-size: 18px;
}

.header, .footer{
    background-color: #1F2937;
}

.header{
    padding: 12px 152px 152px 152px;
}

.footer{
    padding: 12px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/

/* CONTAINER */

/*SECTION ONE */

.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one > h4{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937
}

.section-one{
    padding: 50px 0px;
}

.images-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #7c7d7e
}

.images-list > div{
    width: 250px;
    flex:1;
}

.images-list > div > img{
 width: 200px;
 border: 4px solid #3882F6;
 border-radius: 12px;
 height: 200px;
 object-fit: cover;
}

.images-list > div > p{
    margin-top: 0;
}

/*SECTION TWO*/

.section-two{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 200px;
}
.section-two > p{
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.section-two > b{
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}

/*SECTION THREE*/
.section-three{
    color: #F9FAF8;
    margin: 80px 250px;
    padding: 16px;
    border-radius: 8px;
    background-color: #3882F6;
    gap: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-three > div > h4{
    margin-bottom: 0;
}

.section-three > div > p{
    margin-top: 0;
}

.section-three > button{
    border: 2px solid #F9FAF8;
}